 

<div class="row">
    <div class="col-3">
        <input type="text" [(ngModel)]="num1" placeholder="Enter Num 1">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="num2"  placeholder="Enter Num 2">
    </div>
    <div class="col-3">
        <input type="button" (click)="onAdd()" value="Add" class="btn btn-success">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="result"  placeholder="Result">
    </div>
</div>

<br>
<br>
<br>
<br>
<strong>Admin Welcome </strong>

<p>{{firstName}}</p>

<input [value]="firstName" />

<input type="text"  [(ngModel)]="firstName">

<p (click)="showAlert()" >Click Me</p>
{{studentObject.name}} -- {{studentObject.city}}
<div class="row">
    <div class="col-3">
        <label for="">Name</label>
        <input type="text" [(ngModel)]="studentObject.name" name="" id="">
    </div>
    <div class="col-3">
        <label for="">City</label>
        <input type="text" [(ngModel)]="studentObject.city" name="" id="">
    </div>
</div>
<div class="row"> 
    <div class="col-3">
        <label for="">State</label>
        <input type="text" [(ngModel)]="studentObject.state" name="" id="">
    </div>
    <div class="col-3">
        <label for="">Mobile No</label>
        <input type="text" [(ngModel)]="studentObject.mobileNo" name="" id="">
    </div>
</div>